rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{doc=**} {
      allow read, write: if true;
    }
    match /games/{doc=**} {
      allow read, write: if true;
    }
    match /scores/{doc=**} {
      allow read, write: if true;
    }
    match /users/{doc=**} {
      allow read, write: if true;
    }
  }
}
